:root {
  --offset: 6px;
}



h4 {
  width: 980px;
  font-size: 100px;
  font-family: Helvetica;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: #1d1d1f;
}

.py1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.mask {
  justify-content: center;
  text-align: center;
  height: 145px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
}

.mask span1 {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 130px;
  padding-bottom: var(--offset);
  
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}
.mask .text3{
  font-size:130px;
}
.mask span1[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}

.mask span1[data-up] {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out;
}

.mask span1:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span1:nth-child(2) {
  background-image: linear-gradient(90deg, 
    rgba(47,161,183, 0.9) 0%,
    rgb(81,153,218) 27%, 
    rgba(182,114,217, 1) 54%, 
    rgba(246,90,172, .8) 77%, 
    rgba(238,66,86, 0.8) 100%) ;
}

.mask span1:nth-child(3) {
  background-image: linear-gradient(45deg, #000 50%, #000);
}
